* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color:rgb(51, 5, 112);
    text-shadow: 2px 5px 2px rgb(216, 98, 2);
}

td {
    text-align: center;
}

h6 {
    text-align: center;
}


#app {
    background: rgb(238, 229, 178);
}

.header, .nav__logo, .header .nav, .nav, 
.section, .aside__input-wrapper, .aside .nav, 
.main__wrapper,
.footer, .footer__wrapper , .footer__wrapper .nav {
    display: flex;
}

.header {
    align-items: center;
}

.header__logo {
    width: 20vh; 
}

.header, .header .nav, .nav__logo {
    justify-content: space-between;
}

.header, .aside, .footer {
    background: linear-gradient(to right, rgb(236, 230, 230) 90px, rgb(226, 195, 138), rgb(74, 226, 218));

}

.nav__logo {
    width: 15%;
    text-transform: uppercase;
}

.nav__item, h6 {
    color:rgb(124, 82, 3);
}


.nav__item {
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.header .nav {
    width: 15%;
}

.aside .nav, .main__wrapper, .footer__wrapper .nav,  .footer {
    flex-direction: column;
}

.nav, .aside__input-wrapper, .aside .nav__item, .img {
    padding: 2vh;
}

.main__wrapper {
    align-items: center;
    padding: 10vh;
}

.img {
    width: 400px;
}

.footer__wrapper{
    justify-content: right;
}



@media (max-width:  576px) {
    #app, .header, .aside,  .footer {
        background: rgb(238, 216, 95);
    }

    .header, .header .nav {
        flex-direction: column;
    }
    
    .header .nav, .nav__logo {
        width: 25%;
    }

    .img {
        width: 200px;
    }

    .main__wrapper {
        width: 50%;
    }

}